@charset "UTF-8";

 
.icon-mail-1:before { content: '\2709'; } /* '✉' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */